@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  z-index: 1; }

#head {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden; }

#head::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180.5px;
  background: url(../img/Wavy.png);
  background-repeat: no-repeat;
  z-index: 10; }

.bg-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3a2eff; }

.navbar-light .navbar-brand {
  color: #fff; }

#head nav ul li a {
  position: relative;
  margin-right: 5px;
  padding: 15px 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box; }

.navbar .navbar-nav .nav-item .active {
  transition: 1s ease-in-out; }

#head nav ul li {
  padding: 10px 5px; }

#head nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffc60c;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  box-sizing: border-box;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s; }

#head nav ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1); }

#head .banner {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.banner p {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 48px; }

.banner h3 {
  margin-top: -10px;
  font-size: 16px;
  margin-left: 10px; }

.image {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 30; }

#head .link a:hover {
  background: #1e90ff; }

.navbar-default {
  background: transparent;
  transition: 0.6s ease-in-out; }

.top-nav-collapse {
  background: #3a2eff;
  padding-bottom: 10px;
  margin-top: -12px; }

#head .container {
  position: relative; }

.toogle {
  position: absolute;
  right: 25px;
  box-sizing: border-box;
  font-size: 2rem;
  color: #fff;
  display: none; }

.contactno {
  width: 170px;
  height: 50px;
  padding: 11px 5px 10px 10px;
  background: #ffc60c;
  border-radius: 5px;
  transition: 0.5s ease-in-out; }

.contactno:hover {
  background: #fad045; }

#about {
  width: 100%;
  padding: 100px 0;
  position: relative;
  overflow: hidden; }

#about h1 {
  position: relative;
  display: inline-block;
  left: calc(50% - 70px); }

#about h1::before {
  content: '';
  position: absolute;
  background: #1e90ff;
  width: 80%;
  height: 4px;
  bottom: -10px;
  left: 15px;
  transform: scaleX(0.5);
  transition: 0.5s ease-in-out; }

#about:hover h1::before {
  transform: scaleX(1); }

#service {
  width: 100%;
  padding: 100px 0; }

#service h1 {
  display: inline-block;
  position: relative;
  left: calc(50% - 70px); }

#service h1::before {
  content: '';
  position: absolute;
  background: #1e90ff;
  width: 80%;
  height: 4px;
  bottom: -10px;
  left: 15px;
  transform: scaleX(0.5);
  transition: 0.5s ease-in-out; }

#service:hover h1::before {
  transform: scaleX(1); }

#service .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 300px;
  position: relative;
  background: #fafafa; }

#service .row .box {
  text-align: center;
  position: relative; }

#service .row .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #ffc60c;
  transition: 0.3s ease-in-out; }

#service .row .box .icon i {
  position: relative;
  top: 1px;
  font-size: 28px;
  color: #fff;
  box-sizing: border-box; }

#service .row .box:hover .icon {
  background: #fff;
  border: 2px solid #ffc60c; }

#service .row .box:hover .icon i {
  top: 2px;
  color: #ffc60c;
  display: inline-block; }

#particlee {
  position: relative;
  width: 100%;
  height: 250px;
  background: #ff5b0c;
  padding: 80px 0; }

#particlee .particle-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

@media (max-width: 801px) {
  #banner {
    padding-left: 20px;
    justify-content: center; } }
@media (min-width: 800px) {
  .row-box {
    display: flex;
    justify-content: space-between; } }

/*# sourceMappingURL=style.css.map */
