@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');

$brand : #1e90ff;
$yellow: #ffc60c;
$orange: #ff5b0c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    z-index: 1;
}

#head{
    position: relative;
    width:100%;
    height: 90vh;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0 0 40px;
}

#head::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180.5px;
    background: url(../img/Wavy.png);
    background-repeat: repeat-x;
    background-attachment: cover;
    z-index: 30 ;
}

.bg-overlay{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    // background: linear-gradient(rgb(36, 144, 255),rgb(58,46,255) );
    // background: rgba(58,46,255,1);
    background: rgba(0,0,0,0.9);
}


.navbar-light .navbar-brand{
    color: #fff;
}
#head nav ul li{
    padding: 8px;
}
#head nav ul li a{
    position: relative;
    margin-right: 5px;
    padding: 10px 10px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
}

//Design active state
.navbar .navbar-nav .nav-item .active{
    
    transition: 1s ease-in-out;
}

#head nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background: $yellow;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    box-sizing: border-box;
    visibility: hidden; 
    transition: all 0.3s ease-in-out 0s; 
}

#head nav ul li a:hover::before{
   visibility: visible;
   transform: scaleX(1);
}

#head .banner{
    position: absolute;
    top: 50%;
    left: 30%;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.banner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 48px;
}

.banner h3{
    margin-top: -10px;
    font-size: 16px;
    margin-left: 10px;
}

.image{
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 30;
}


.navbar-default{
    background: transparent;
    transition: 0.6s ease-in-out;
}

.top-nav-collapse{
    // background:rgba(58, 46, 255, 1);
    background: rgba(55,60,63,0.9);
    padding-bottom: 5px;
    margin-top: -20px;
}
 .navbar-nav ul li{
    padding: 10px 5px;
    border-bottom: 3px solid transparent;
}

.navbar-nav li .active{
    border-bottom: 3px solid $yellow;
    
}
.contactno{
    width: 170px;
    height: 50px;
    padding: 11px 5px 10px 10px;
    background: $yellow;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.contactno:hover{
    background: rgb(250, 208, 69);
}


//Starting ABOUT session

#about{
    width: 100%;
    padding: 80px 0;
    position: relative;
    overflow: hidden;   
}

#about h1{
    position: relative;
    display: inline-block;
    left: calc(50% - 80px);
    margin: 0 auto;
}
#about h1::before{
    content:'';
    position: absolute;
    background: $brand;
    width: 80%;
    height: 4px;
    bottom: -10px;
    left: 15px;
    transform: scaleX(0.5);
    transition: 0.5s ease-in-out;
}

#about:hover h1::before{
    transform: scaleX(1);   
}



 //Services session
 #service{
    width: 100%;
    padding: 80px 0;
    // overflow: hidden;
 }
#service h1{
    display: inline-block;
    position: relative;
    left: calc(50% - 90px);
    margin: 0 auto;
}
 #service h1::before{
    content:'';
    position: absolute;
    background: $brand;
    width: 80%;
    height: 4px;
    bottom: -10px;
    left: 15px;
    transform: scaleX(0.5);
    transition: 0.5s ease-in-out;
}
#service:hover h1::before{
    transform: scaleX(1);
}

#service .box {

    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 300px;
    position: relative;
    background: #fafafa;

}

#service .row .box{
    text-align: center;
    position: relative;
}

#service .row .icon{
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: $yellow;
    transition: 0.3s ease-in-out;
}
#service .row .box .icon i{
    position: relative;
    top: 1px;
    font-size: 28px;
    color:#fff;
    box-sizing: border-box;
}

#service .row .box:hover .icon{
    background: #fff;
    border: 2px solid $yellow;
}
#service .row .box:hover .icon i{
    top: 2px;
    color: $yellow;
    display: inline-block;
}




//Particle

#particlee{
    position: relative;
    width: 100%;
    height: 250px;
    background: $orange;
    padding: 80px 0;
}

#particlee .particle-div{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}


//Portfolio
#portfolio{
    position: relative;
    width: 100%;
    padding: 80px 0;
}

#portfolio h1{
    display: inline-block;
    position: relative;
    left: calc(50% - 70px);
    margin: 0 auto;
}


#portfolio h1{
    position: relative;
    display: inline-block;
    left: calc(50% - 100px);
    margin: 0 auto;
}
#portfolio h1::before{
    content:'';
    position: absolute;
    background: $brand;
    width: 80%;
    height: 4px;
    bottom: -10px;
    left: 15px;
    transform: scaleX(0.5);
    transition: 0.5s ease-in-out;
}

#portfolio:hover h1::before{
    transform: scaleX(1);
}


#portfolio .grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    // flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-between;
}
#portfolio .grid-item{
    width: 255px;
    padding: 15px;
    margin: 11px;
    color: white;
    box-sizing: border-box;
}


.web{
    background: blue;
}

.blog{
    background: red;
}

.graphics{
    background: black;
}

.seo{
    background: teal;
}



#portfolio .portfolio-menu ul{
    justify-content: center;
    margin-left: calc(30%);
}

.portfolio-menu ul li{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 5px 20px 7px;
    margin: 15px 10px;
    border: 2px solid $brand;
    border-radius: 20px;
    color: $brand;
    transition: 0.3s ease-in-out;
}

.portfolio-menu ul .filter-active, .portfolio-menu ul li:hover{
    background: $brand;
    color: #fff;
}


//Team Section
#team{
    position: relative;
    width: 100%;
    padding: 80px 0;
}

#team h1{
    display: inline-block;
    position: relative;
    left: calc(50% - 70px);
    margin: 0 auto;
}


#team h1{
    position: relative;
    display: inline-block;
    left: calc(50% - 100px);
    margin: 0 auto;
}
#team h1::before{
    content:'';
    position: absolute;
    background: $brand;
    width: 80%;
    height: 4px;
    bottom: -10px;
    left: 13px;
    transform: scaleX(0.5);
    transition: 0.5s ease-in-out;
}

#team:hover h1::before{
    transform: scaleX(1);
}

#team h6{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: -5%;
}
#team .card .card-body h5{
    text-align:center;
}
#team .card .card-body p{
    margin-top: -5px;
    text-align:center;
}
#team .card .card-body p i{
    margin-right: 5px;
}



//Contact US

#contact{
    position: relative;
    width: 100%;
    padding: 80px 0;
}

#contact h1{
    display: inline-block;
    position: relative;
    left: calc(50% - 70px);
    margin: 0 auto;
}


#contact h1{
    position: relative;
    display: inline-block;
    left: calc(50% - 100px);
    margin: 0 auto;
}
#contact h1::before{
    content:'';
    position: absolute;
    background: $brand;
    width: 80%;
    height: 4px;
    bottom: -10px;
    left: 20px;
    transform: scaleX(0.5);
    transition: 0.5s ease-in-out;
}

#contact:hover h1::before{
    transform: scaleX(1);
}

#contact h6{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: -5%;
}

#contact .container-fluid{
    background: $brand;
    width: 100%;
    margin: 80px 0;
}

.contact-form{
    margin: auto;
    width: 900px;
    height: 100%;
    background: #fff;
}






//Media Query
@media (max-width: 801px)
{
    #banner{
        padding-left: 20px;
        justify-content: center;
    }
    // .row-box{
    //     display: block; 
    // }
}

@media (min-width: 800px){
    .row-box{
        display: flex;
        justify-content: space-between;
    }
}

// @media (max-width: 415px)
// {
//     #about{
//         background: Red;
//     }
//     .banner{
//         margin-left: 20px;
//     }

//     #head::before{
//         visibility: hidden;
//     }


//     #head nav ul{
//         display: block; 
//     }

//     #head nav ul{
//         position: absolute;
//         display: block;
//         top: 90%;
//         left: 0;
//         margin-left: 0;
//     }


//     .nav-cover{
//         width: 250px;
//     }
//     .nav-cover::before{
//         width: 100%;
//     }

//     #head nav ul li a{
//         width: 110px;
//     }
//     .toggle{
//         display: block;
//     }
// }